<div class="container-fluid">
  <br>
  <h4>Edit a comment here (destroy doesn't work yet, foreign key to remove)</h4><br>
  <div class="my-form">
    <%= form_with model: @comment do |f| %>
      <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
      <div class="form-group">
        <label>Content :</label>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      <br>
      <div class="form-group">
        <button type="submit" class='btn btn-success'>Modify the comment</button>
      </div>
      <br>
    <% end %>
    <%= button_to 'Delete this comment', comment_path, method: :delete, class: 'btn btn-danger' %>
  </div>
</div>