<div class="container-fluid">
  <br>
  <h4>Welcome <%= @user_name %>!</h4> <br>
      <p> <strong> What do you want to do? </strong> <br><br>
      Start a new gossip <br>
      <a href='/'>Go back to home page </a> <br>
      </p>
</div>
