<div class="container-fluid">
  <br>
  <h4>Create a new gossip here</h4><br>
  <div class="my-form">
    <%= form_with model: @gossip do |f| %>
      <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
      <div class="form-group">
        <label>Title :</label>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <br>
      <div class="form-group">
        <label>Content :</label>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      <br>
      <div class="form-group">
        <button type="submit" class='btn btn-success'>Save the gossip</button>
      </div>
    <% end %>
  </div>
</div>