<div class="container-fluid">
  <br>
  <h4>Meet the team!</h4> <br>
      <p> <strong> Team Cozy & Fluffy :</strong> <br><br>
      Lisa <br>
      Karine <br>
      Suzanne <br><br>
      </p>
</div>