<div class="container-fluid">
  <br>
  <h4>Contact us</h4> <br>
      <p> <strong> Feel free to ask us anything </strong> <br><br>
      Email: cozy.fluffy.team@gmail.com <br>
      Telephone: +33 7 12 34 56 78 90 <br>
      Face to face at: Cozy & Fluffy Café <br><br>
      </p>
</div>